.calendar-people__list {
  --avatar-size: 3em;
}

.avatar {
  vertical-align: middle;
}

.guest-form,
.colleague-form {
  height: 100%;
  border: 1px solid;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
