.header-user {
  --avatar-size: 1.5em;
  display: flex;
  gap: 0.3em;
}

.header-user__name {
  flex: 1 0 auto;
}

.avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
}

button.icon {
  --line-height: 1rem;
  padding: 0 1ex;
  background: none;
  border: none;
}

.hero--axolotl-blue {
  /* display: none; */
  /* background-color: #374956; */
  background-image: url("/images/Axolotl_DaVinci_blue.png");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.header[aria-label="breadcrumb"] {
  justify-content: space-between;
}

main.container {
  min-height: 60vh;
}

.calendar-day {
  --avatar-size: 1.5em;
  --block-spacing-vertical: 0.5em;
  --block-spacing-horizontal: 0.5em;
  position: relative;
  margin-inline: auto;
  max-width: 50ch;
}

.calendar-day__gauge {
  --border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
}

.calendar-day form {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-people {
  flex: 1 0 auto;
  padding: 1ex;
  min-height: calc(1.5 * var(--avatar-size));
  margin: 0;
}

.calendar-people li {
  display: inline;
  list-style: none;
}

.day__name {
  display: inline-block;
  width: 8ch;
  font-family: monospace;
  font-variant: small-caps;
  text-transform: capitalize;
}

.day__book {
  --border-radius: 50%;
  margin: 0;
  display: inline-block;
  box-sizing: content-box;
  height: 20px;
  width: auto;
  padding: 0.3rem;
  font-size: 20px;
  line-height: 20px;
}
.day__book svg {
  vertical-align: top;
}
