body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
}

.header-logo {
  height: 3em;
}

.header-user {
  --avatar-size: 1.5em;
  margin-bottom: 0;
}

.header-user button {
  --color: var(--color);
  /* To override a change in the inherited button color*/
  color: var(--color);
}

details.dropdown.header-user ul li::after {
  content: unset;
}

.header-user__name {
  flex: 1 0 auto;
  margin-inline-start: 0.5em;
}

.avatar {
  display: inline-block;
  height: var(--avatar-size, 1.5em);
  width: var(--avatar-size, 1.5em);
  border-radius: 50%;
  vertical-align: text-top;
}

.avatar svg {
  height: var(--avatar-size);
  width: var(--avatar-size);
}

button.icon {
  --line-height: 1rem;
  padding: 0 1ex;
  background: none;
  border: none;
  --color: var(--color);
  /* To override a change in the inherited button color*/
  color: var(--color);
}

button.icon:hover,
button.icon:active,
button.icon:focus {
  --color: var(--contrast)
}

.hero--axolotl-blue {
  background-image: url("/images/Axolotl_DaVinci_blue.png");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.header[aria-label="breadcrumb"] {
  height: 4em;
  justify-content: space-between;
}

main.container {
  flex: 1 0 auto;
}

.error {
  color: var(--pico-form-element-invalid-border-color);
}

.calendar-day {
  --avatar-size: 1.5em;
  --block-spacing-vertical: 0.5em;
  --block-spacing-horizontal: 0.5em;
  position: relative;
  margin-inline: auto;
  max-width: 50ch;
}

.calendar-day--today {
  --card-background-color: var(--pico-primary-focus);
  border-inline-start: 0.2rem solid var(--pico-primary-hover);
}

.calendar-day--end-of-week+.calendar-day {
  margin-block-start: 3em;
}

.calendar-day__gauge {
  --border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
}

.calendar-day--full .calendar-day__gauge::-moz-progress-bar,
.calendar-day--full .calendar-day__gauge::-webkit-progress-value {
  background: var(--pico-form-element-invalid-border-color);
}

.calendar-day form,
.admin-form {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.inline-form {
  display: inline-block;
}

.calendar-day__actions {
  margin-block-start: var(--pico-typography-spacing-vertical);
  /* margin-inline: var(--grid-spacing-horizontal); */
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.calendar-day__actions ul {
  width: fit-content;
}

.no-button {
  border: none;
  background: none;
  --color: var(--color);
  /* To override a change in the inherited button color*/
  color: var(--color);
}

.no-button:hover,
.no-button:active,
.no-button:focus {
  --color: var(--contrast)
}

button.inline-button {
  padding: 0;
  margin: 0;
  width: auto;
}

.calendar-people {
  width: 100%;
  border-bottom: 0;
  margin-bottom: 0;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-1em));
  }
}

details.calendar-people[open]>*:not(summary) {
  animation: details-show 150ms ease-out;
}

.calendar-people__header {
  --avatar-size: 2em;
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar--globaladmin {
  --color: var(--pico-primary-border);
  border: 2px solid var(--color, var(--pico-color));
}

.avatar--overflow {
  --color: var(--pico-del-color);
  border: 2px dotted var(--color)
}

.avatar--partial {
  border: 2px dashed var(--color, var(--pico-color));
}

.calendar-people h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.calendar-people__list {
  --line-height: var(--avatar-size);
  flex: 1 1 auto;
  padding: 1ex;
  min-height: calc(1.5 * var(--avatar-size));
  margin: 0;
}

.calendar-people__book-self {
  display: inline;
  width: auto;
  margin: 0;
  padding: 1ex;
  --form-element-spacing-vertical: 1ex;
  --form-element-spacing-horizontal: 1em;
  font-size: 1em;
  line-height: 1em;
}

.calendar-people__list li {
  list-style: none;
}

.calendar-people__list .avatar+span {
  margin-inline-start: 1ex;
}

.calendar-people__list--inline li {
  display: inline;
  border-bottom: none;
}

.calendar-people__list--inline li+li {
  margin-inline-start: -0.5ex;
}

.day__name {
  display: inline-block;
  font-family: monospace;
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.day__book {
  margin: 0;
  display: inline-block;
  box-sizing: content-box;
  height: 20px;
  width: auto;
  padding: 0.3rem;
  font-size: 20px;
  line-height: 20px;
}

.day__book svg {
  vertical-align: top;
}