.header-user {
  --avatar-size: 1.5em;
  display: flex;
  gap: 0.3em;
}

.header-user__name {
  flex: 1 0 auto;
}

.avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
}

button.icon {
  --line-height: 1rem;
  padding: 0 1ex;
  background: none;
  border: none;
}

.hero--axolotl-blue {
  /* display: none; */
  /* background-color: #374956; */
  background-image: url("/images/Axolotl_DaVinci_blue.png");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.breadcrumbs > li + li {
  padding-inline-start: 0;
}

.breadcrumbs > li + li:before {
  display: "block";
  margin-inline-end: var(--nav-element-spacing-horizontal);
  content: "/";
}

main.container {
  min-height: 60vh;
}

.calendar-day {
  --avatar-size: 1.5em;
  margin: auto;
  width: 50ch;
}

.calendar-day > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar-day form {
  margin: 0;
}

.calendar-people {
  display: inline;
}

.calendar-people li {
  display: inline;
  list-style: none;
}

.day__name {
  display: inline-block;
  width: 2ch;
}

.day__number {
  display: inline-block;
  text-align: end;
  width: 2ch;
}

.day__book {
  display: inline-block;
  margin: 0;
  width: auto;
  padding: 0.3rem;
  line-height: 20px;
}
